@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
  font-family: 'Roboto';
  color: #333; 
<<<<<<< Updated upstream
  background-image: url(background_1.jpeg);
=======
  background-image: url(background_3.jpeg);
>>>>>>> Stashed changes
  background-repeat: repeat;
  background-position: top;
  background-size: auto; 
  color: blue;
  font-family: 'Uchen', serif;
  margin: 0;

<<<<<<< Updated upstream
}

/*#bg {
  position: auto;
  background-color: white;
}

=======
}

      .chartCard {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 700px;
        padding: 20px;
        background: grey;
      }

/*#bg {
  position: auto;
  background-color: white;
}

>>>>>>> Stashed changes
#bg:before {
  content: " ";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 2250px; 
  opacity: .4; 
  background-image: url(background_1.jpeg);
  background-repeat: repeat;
  background-position: top;
  background-size: auto;
}*/

#title {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  padding: 30px;
  font-size: 28px;
  letter-spacing: -0.01em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

#container {
  padding-right: 2em;
  padding-left: 2em;
<<<<<<< Updated upstream
  padding-bottom: 2em;
=======
>>>>>>> Stashed changes
  background-color: rgba(0, 0, 0, 0.6);
}

